@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

* {
    font-family: 'Quicksand';
    outline: 0px;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}


/*
COPYRIGHT LDS-LOADER
*/
.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.wrapper > * {
    position: relative;
    height: 100%;
    width: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    min-height: 100%;
}

.welcome.inactive {
    display: none;
}

.welcome-content {
    width: 80%;
    max-width: 400px;
}

.crisp {
    display: block;
}

@media (min-height:480px){
    .welcome {
        align-items: center;
    }
}

@media (orientation:landscape) and (min-width:640px){
    .welcome-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
    }
    
    .crisp {
        margin-left: 20px;
    }
}
.gunjan {
    display: block;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 5px;
    border: 3px solid crimson;
    border-color: crimson transparent crimson transparent;
    margin: auto;
    margin-bottom: 20px;
}

.gunjan > img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.gunjan > figcaption {
    display: none;
}

.big-love-header > h1 {
    text-align: center;
    font-size: 14px;
    background: crimson;
    transform: skewX(-10deg);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
}

.crisp .alert {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 10px;
    margin: 5px 0px;
    font-size: 11px;
}

.crisp .launcher-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crisp .launcher-btn-wrap > button {
    min-width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(220, 20, 60);
    transition-duration: 0.4s;
    border: 0px;
    padding: 0px;
}

.crisp .launcher-btn-wrap > button:hover {
    box-shadow: 0px 0px 0px 5px rgba(220, 20, 60, 0.3);
}


.crisp .launcher-btn-wrap > button > .lds-dual-ring {
    transform: scale(0.8);
}

.crisp footer {
    text-align: center;
    font-size: 13px;
    margin: 10px 0px;
}

.foot-links {
    padding: 0px;
    margin: 0px;
    list-style: none;
}


.foot-links > li {
    display: inline-block;
}

.foot-links > li + li:before {
    content: '•';
    display: inline-block;
    margin: 0px 7px;
}

.foot-links > li > a {
    color: brown;
    font-size: 11px;
}

.apptana {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background: #000;
}

.apptana.inactive {
    display: none;
}


.apptana-header {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    z-index: 10;
    transition: transform .5s ease;    
}

.apptana-header.hidden {
    transform: translateY(-100%);
}

.apptana-header > h2 {
    font-size: 12px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    margin-left: 7px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.apptana-header .icon-with-gunjan {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.apptana-header .icon-with-gunjan > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.apptana > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    transform: scale(-1, 1);
    filter: blur(2px);
    object-fit: cover;
}



.player {
    position:relative;
    z-index: 3;
}


.player > .apptana-controls {
    position: absolute;
    z-index: 3;
    top: 90%;
    right: 20px;
    transform: translateY(-100%);
}

.player > .apptana-controls > ul {
    padding:0px;
    margin: 0px;
    list-style-type: none;
}

.player > .apptana-controls > ul > li {
    margin: 10px 0px;
    text-align: center;
}


.player > .apptana-controls > ul > li > button {
    background: #fff;
    border: 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.player > .apptana-controls > ul > li.capture > button {
    height: 50px;
    width: 50px;
}

.player > .apptana-controls > ul > li > button:hover {
    color: #fff;
    background: crimson;
}

.player.capturing::after {
    content: '';
    position: absolute;
    background: transparent;
    transition:all .5s ease;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    animation: capture 1s;
}


@keyframes capture {
    from {
        background: rgba(255, 255, 255, 1);
    }
    to {
        background: rgba(255, 255, 255, 0);
    }
}


body.about-visible {
    overflow: hidden;
}

.about {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    overflow-y:auto; 
}

body.about-visible .about {
    display: block;
}


.about > .content-container {
    width: 100%;
    padding: 30px 0px;
}

.about > .content-container .about-close-wrapper {
    padding: 5px 0px;
}

.about > .content-container .about-close-wrapper > button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 0px;
    cursor: pointer;
    transition: background .2s ease;
}

.about > .content-container .about-close-wrapper > button:hover {
    background: #eee;
}

.about > .content-container > .content {
    max-width: 350px;
    width: 85%;
    padding: 10px 15px;
    margin: auto;
    background: #fff;
    transition: all 0.5s ease;
    animation: popup 0.5s;
    border-radius: 5px; 
}

.about > .content-container > .content .details {
    font-size: 12px;
    line-height: 2em;
}


.about > .content-container > .content .copyright {
    text-align: center;
    font-size: 12px;
    padding:7px 0px;
    color: gray;
}


body.about-closing .about > .content-container > .content {
    animation: popclose 0.5s;
    visibility: hidden;
}

@keyframes popup {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes popclose {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.3);
    }
}